main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--main-color);
    margin: 2rem;
    padding: 1.5rem;
    border-radius: .2rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.055);
    background-color: transparent;
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons {
    display: flex;
}

button.clear-todos {
    width: 10rem;
    padding: .6rem .8rem;
    background-color: var(--main-color);
    color: white;
    border-radius: .2rem;
    border: 0;
    font-size: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.103);
    margin: 1rem 1rem 0 0;
    cursor: pointer;
}

p,
button.clear-all-todos,
button.add-todo {
    padding: .8rem;
    border: 0;
    font-size: 1rem;
    background-color: var(--main-color);
    color: white;
    border-radius: .2rem;
    margin-top: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.103);
    cursor: pointer;
}

button.clear-all-todos {
    text-align: center;
    width: 10rem;
    background-color: red;

}

input {
    padding: .6rem;
    border: 1px solid var(--main-color);
    border-radius: .2rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.103);
}

input::placeholder {
    color: var(--main-color);
}

p {
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 7rem;
    font-family: 'Poppins', sans-serif;
    padding: .6rem;
    border: 1px solid var(--main-color);
    text-align: center;
    color: black;
}

@media (min-width: 700px) {
    main {
        width: 700px;
        margin: 2rem auto;
    }
}