ul {
    list-style: none;
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: .6rem;
}

input[type=checkbox] {
    margin-right: .5rem;
    vertical-align: middle;
}